* {
	box-sizing: border-box;
}
a{
	color: inherit;
}
a:visited{
	appearance: none;
}
html{
	//overflow: hidden;
}
body {
	min-height: 100vh;
	min-height: 100svh;
	// height: 100vh;
	// height: 100svh;
	background: $c-dark-blue;
	// scroll-snap-type: y mandatory;
	// scroll-behavior: smooth;
	// overflow-y: scroll;
}
img,
svg {
	max-width: 100%;
	color: inherit;
	font-size: inherit;
}
img {
	width: 100%;
}
