:root {
	--section-inline-value: 4%;
	--section-inline-padding: clamp(1rem, var(--section-inline-value), 8rem);
}

.row {
	display: flex;
	align-items: center;
}
.column {
	flex-direction: column;
	justify-content: center;
}
.wrap {
	flex-wrap: wrap;
	& > * {
		flex: 1 1 auto;
	}
}

.section {
	max-width: 90rem;
	padding-inline: var(--section-inline-padding);
	margin-inline: auto;
	overflow: hidden;
	z-index: 5;
	//&:not(.navbar) {
	//min-height: 100vh;
	//min-height: 100svh;
	//scroll-snap-align: start;
	//}
}
//-----------------
.navbar {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
}
.header {
	gap: 1rem;
	padding-block: 2rem;
}
.about {
	padding-block: 8rem;
}
.skills {
	padding-block: 8rem;
}
.projects {
	padding-block: 8rem;
}
.contact {
	padding-block: 8rem;
	&__wrapper {
		width: 100%;
		gap: 2rem;
	}
	&__btn-wrapper {
		width: 100%;
		justify-content: flex-end;
	}
}
.footer {
	padding-block: 8rem;
	flex-direction: column;
	gap: 2.5rem;
	&__logo {
		gap: 0.5rem;
	}
	&__icon-wrapper {
		gap: 2rem;
	}
}
.section__info {
	gap: 2rem;
	align-items: stretch;
}
.section__projects {
	position: relative;
	display: flex;
	margin-inline: auto;
	width: fit-content;
	max-width: 100%;
	padding: 2rem;
	align-items: stretch;
	gap: 4rem;
	align-self: stretch;
	overflow-y: scroll;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
}
.section__markers {
	position: relative;
	width: fit-content;
	margin-inline: auto;
	gap: 0.5rem;
	&__item {
		display: block;
		width: fit-content;
		& > * {
			appearance: none;
			width: 0.75rem;
			height: 0.75rem;
			border-radius: 50%;
			background: $c-ghost-white;
			border: 2px solid $c-green-cyan;
			cursor: pointer;
		}
	}
	&::before {
		position: absolute;
		content: "<-";
		top: 50%;
		left: -1rem;
		transform: translate(-100%, -60%);
		font-family: $f_family-firacode;
		color: $c-ghost-white;
		font-size: 1.5rem;
		z-index: 2;
	}
	&::after {
		position: absolute;
		content: "->";
		top: 50%;
		right: -1rem;
		transform: translate(100%, -60%);
		font-family: $f_family-firacode;
		color: $c-ghost-white;
		font-size: 1.5rem;
		z-index: 2;
	}
}
