:root {
	--section-inline-value: 4%;
	--section-inline-padding: clamp(1rem, var(--section-inline-value), 8rem);
}
.row {
	display: flex;
	align-items: center;
}
.column {
	flex-direction: column;
	justify-content: center;
}
.wrap {
	flex-wrap: wrap;
	& > * {
		flex: 1 1 auto;
	}
}
.navbar,
.section{
	max-width: 90rem;
	margin-inline: auto;
}
.navbar {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}
.section {
	padding-inline: var(--section-inline-padding);
	overflow: hidden;
	z-index: 0;
	//&:not(.navbar) {
	//min-height: 100vh;
	//min-height: 100svh;
	//scroll-snap-align: start;
	//}
}

.header {
	gap: 1rem;
	padding-block: 2rem;
}
.about,
.skills,
.projects,
.contact,
.footer {
	padding-block: 8rem;
}
.contact {
	&__wrapper {
		width: 100%;
		gap: 2rem;
	}
	&__btn-wrapper {
		width: 100%;
		justify-content: flex-end;
	}
}
.footer {
	flex-direction: column;
	gap: 2.5rem;
	&__logo {
		gap: 0.5rem;
	}
	&__icon-wrapper {
		gap: 2rem;
	}
}
.section__info {
	gap: 2rem;
	align-items: stretch;
}
.section__projects {
	position: relative;
	margin-inline: auto;
	width: fit-content;
	max-width: 100%;
	padding: 2rem;
	align-items: stretch;
	gap: 4rem;
	align-self: stretch;
	overflow-y: scroll;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
}
