.font-h1,
.font-h2,
.font-p {
	font-family: $f_family-firacode;
	color: $c-ghost-white;
}
.font-h1 {
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 1.3;
}
.font-h2 {
	font-weight: 500;
	line-height: 1;
	&--big {
		font-size: 1.5rem;
	}
	&--small {
		font-size: 1.125rem;
	}
}
.font-p {
	font-weight: 400;
	line-height: 1.5;
	&--big {
		font-size: 1rem;
	}
	&--small {
		font-size: 0.875rem;
	}
}
//-----------------------------------------------------------
.button {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: fit-content;
	max-width: fit-content;
	padding: 0.5rem 1.5rem;
	gap: 0.125rem;
	border: 2px solid $c-ghost-white;
	border-radius: 3.125rem;
	letter-spacing: 0.05em;
}
//----------------------------------------------------------
.top-navbar {
	width: 100%;
	align-items: stretch;
	justify-content: space-between;
	background: $c-dark-blue;
	padding-block: 1rem;
	padding-inline: var(--section-inline-padding);
	&__logo {
		&__arrow {
			color: $c-green-cyan;
		}
		&__text {
			margin-left: 0.5rem;
		}
	}
}
.hamburger {
	&__checkbox {
		opacity: 0;
		z-index: -1;
		position: absolute;
		cursor: pointer;
	}
	&__icon {
		cursor: pointer;
		display: block;
	}
	&__line {
		transition: y 300ms ease-in 300ms, transform 300ms ease-in,
			opacity 0ms 300ms;
		transform-origin: center;
	}
}
#hamburger:checked ~ .hamburger__icon .hamburger {
	&__line {
		transition: y 300ms ease-in, transform 300ms ease-in 300ms,
			opacity 0ms 300ms;
	}
	&__top,
	&__bottom {
		y: 10.75px;
	}
	&__top {
		transform: rotate(45deg);
	}
	&__middle {
		opacity: 0;
	}
	&__bottom {
		transform: rotate(-45deg);
	}
}
.menubar {
	&__wrapper {		
		position: absolute;
		visibility: hidden;
		top: 100%;
		right: 0;
		transform: translate(0, -100%);
		width: fit-content;
		padding: 2rem;
		background: $c-dark-blue;
		flex-direction: column;
		align-items: stretch;
		z-index: -1;
		transition: 300ms ease-in;
		border: 1px solid $c-green-cyan;
		border-radius: 0.5rem;
		gap: 2rem;
	}
}

#hamburger:checked ~ .menubar__wrapper {
	transform: translate(0, 0);
	visibility: visible;
	transition: 300ms ease-in;
}
//-------------------------------------------------------------------
.hero {
	&__info {
		padding-left: calc(2rem + 0.25rem);
		& > :not(:last-child) {
			margin-bottom: 1rem;
		}
		&__text {
			& > :not(:last-child) {
				margin-bottom: 1rem;
			}
		}
		&__cta {
			padding-block: 1.5rem;
			padding-right: 2rem;
			gap: 2rem;
		}
	}
	&__img {
		min-width: 20rem;
		max-width: 35rem;
		margin-inline: auto;
	}
}
.guides {
	position: relative;
	z-index: -1;
	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 50%;
		transform: translate(calc(-100% - 0.25rem), -100%);
		width: calc(1.5rem - 0.25rem);
		height: 100vh;
		border-bottom: 1px dotted $c-green-cyan;
		border-left: 1px dotted $c-green-cyan;
	}
}
.info-block {
	padding-inline: calc(2rem + 0.25rem) 2rem;
	& > :not(:last-child) {
		margin-bottom: 2rem;
	}
}
.section-title {
	padding-left: calc(2rem + 0.25rem);
	padding-bottom: calc(2rem + 0.25rem);
	width: fit-content;
}
.styled-box {
	position: relative;
	border: 1px solid $c-green-cyan;
	border-radius: 0.5rem;
	padding-top: 0;
	&__title {
		display: block;
		position: relative;
		width: fit-content;
		max-width: 100%;
		transform: translate(0, -0.8em);
		padding-inline: 0.5rem;
		background: $c-dark-blue;
	}
}
.skill-wrapper {
	padding-block: 0 1.5rem;
	padding-inline: 1.5rem;
	&__items {
		gap: 2rem;
	}
}
.skill-box {
	gap: 0.5rem;
	&__icon {
		line-height: 0;
		font-size: 1.5rem;
	}
}
.project-card {
	padding-block: 0rem 1rem;
	padding-inline: 1rem;

	min-width: 18.75rem;
	width: 18.75rem;
	scroll-snap-align: center;
	&__image-wrapper {
		position: relative;
		width: 100%;
		height: 13.75rem;
		overflow: hidden;
		border-radius: 0.5rem;
		border: 1px solid $c-green-cyan;
	}
	&__image {
		width: 100%;
	}
	&__github-btn {
		position: absolute;
		bottom: 0.5rem;
		left: 0.5rem;
		width: 4rem;
		height: 4rem;
		padding: $space-em;
		border-radius: 50%;
		border: 4px solid $c-green-cyan;
		background: $c-n-white;
		box-shadow: 4px 2px 6px 0px rgba(0, 0, 0, 0.5);
		font-size: 1.5rem;
		color: $c-dark-blue;
	}
	&__info {
		& > * {
			margin-top: 1.5rem;
		}
	}
	&__btn-live-site {
		display: block;
		width: fit-content;
		position: relative;
		padding-right: 0.5rem;
	}
	&__live-icon {
		position: absolute;
		top: 50%;
		right: 0rem;
		transform: translate(100%, -50%);
	}
}
.projects__nav {
	position: relative;
	width: fit-content;
	margin-inline: auto;
	gap: 0.5rem;
	&__item {
		display: block;
		width: 0.75rem;
		height: 0.75rem;
		border-radius: 50%;
		background: $c-ghost-white;
		border: 2px solid $c-green-cyan;
	}
	&::before,
	&::after {
		position: absolute;
		top: 50%;
		font-family: $f_family-firacode;
		color: $c-ghost-white;
		font-size: 1.5rem;
	}
	&::before {
		content: "<-";
		left: -1rem;
		transform: translate(-100%, -50%);
	}
	&::after {
		content: "->";
		right: -1rem;
		transform: translate(100%, -50%);
	}
}
.contact-box {
	padding-block: 0 0.5rem;
	padding-inline: 0.5rem;
	&__input {
		outline: none;
		color: rgba(0, 0, 0, 0.3);
		width: 100%;
		border-radius: 0.3125rem;
		border: 1px solid $c-green-cyan;
		background: #d9d9d9;
		padding: 0.25rem 1rem;
		word-wrap: break-word;
		word-break: break-all;
		&:focus {
			color: $c-dark-blue;
		}
		&--pattern:invalid {
			border-color: red;
			& + span {
				display: block;
				margin-top: 6px;
				&::after {
					content: "Please check your email";
					font-weight: 400;
					font-size: 0.75rem;
					color: red;
				}
			}
		}
	}
}
.logo {
	width: 2.5rem;
}
