html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input { /* 1 */
  overflow: visible;
}

button,
select { /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/FiraCode-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 500;
  src: url(../assets/fonts/FiraCode-Medium.ttf);
  font-display: swap;
}
@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 600;
  src: url(../assets/fonts/FiraCode-Bold.ttf);
  font-display: swap;
}
* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-height: 100svh;
  background: #15162A;
}

img,
svg {
  max-width: 100%;
  color: inherit;
  font-size: inherit;
}

img {
  width: 100%;
}

:root {
  --section-inline-value: 4%;
  --section-inline-padding: clamp(1rem, var(--section-inline-value), 8rem);
}

.row {
  display: flex;
  align-items: center;
}

.column {
  flex-direction: column;
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}
.wrap > * {
  flex: 1 1 auto;
}

.section {
  max-width: 90rem;
  padding-inline: var(--section-inline-padding);
  margin-inline: auto;
  overflow: hidden;
  z-index: 5;
}
.section:not(.navbar) {
  min-height: 100vh;
  min-height: 100svh;
  scroll-snap-align: start;
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.header {
  gap: 1rem;
  padding-block: 2rem;
}

.about {
  padding-block: 8rem;
}

.skills {
  padding-block: 8rem;
}

.projects {
  padding-block: 8rem;
}

.contact {
  padding-block: 8rem;
}
.contact__wrapper {
  width: 100%;
  gap: 2rem;
}
.contact__btn-wrapper {
  width: 100%;
  justify-content: flex-end;
}

.section__info {
  gap: 2rem;
  align-items: stretch;
}

.section__projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  align-self: stretch;
}

.font-h1,
.font-h2,
.font-p {
  font-family: "Fira Code", monospace;
  color: #EAEAEA;
}

.font-h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.3;
}

.font-h2 {
  font-weight: 500;
  line-height: 1;
}
.font-h2--big {
  font-size: 24px;
}
.font-h2--small {
  font-size: 18px;
}

.font-p {
  font-weight: 400;
  line-height: 1.5;
}
.font-p--big {
  font-size: 16px;
}
.font-p--small {
  font-size: 14px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: -moz-fit-content;
  min-width: fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 0.5rem 1.5rem;
  gap: 0.125rem;
  border: 2px solid #EAEAEA;
  border-radius: 3.125rem;
  letter-spacing: 0.05em;
}

.top-navbar {
  width: 100%;
  align-items: stretch;
  justify-content: space-between;
  background: #15162A;
  padding-block: 1rem;
  z-index: 10;
}
.top-navbar__logo__arrow {
  color: #52C4C4;
}
.top-navbar__logo__text {
  margin-left: 0.5rem;
}

.hero__info {
  padding-left: 2.25rem;
}
.hero__info > :not(:last-child) {
  margin-bottom: 1rem;
}
.hero__info__text > :not(:last-child) {
  margin-bottom: 1rem;
}
.hero__info__cta {
  padding-block: 1.5rem;
  padding-right: 2rem;
  gap: 2rem;
}

.guides {
  position: relative;
  z-index: -1;
}
.guides::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(calc(-100% - 0.25rem), -100%);
  width: 1.25rem;
  height: 100vh;
  border-bottom: 1px dotted #52C4C4;
  border-left: 1px dotted #52C4C4;
}

.info-block {
  padding-inline: 2.25rem 2rem;
}
.info-block > :not(:last-child) {
  margin-bottom: 2rem;
}

.section-title {
  padding-left: 2.25rem;
  padding-bottom: 2.25rem;
  width: -moz-fit-content;
  width: fit-content;
}

.styled-box {
  position: relative;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid #52C4C4;
}
.styled-box__title {
  position: absolute;
  top: 0;
  left: 1.5rem;
  transform: translate(0, -50%);
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding-inline: 0.5rem;
  background: #15162A;
}
.styled-box__skill-items {
  gap: 2rem;
}

.skill-box {
  gap: 0.5rem;
}
.skill-box__icon {
  line-height: 0;
  font-size: 1.5rem;
}

.project-card {
  position: relative;
  padding: 3rem 1rem 1rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #52C4C4;
  width: 18.75rem;
}
.project-card__title {
  position: absolute;
  top: 0;
  left: 1.5rem;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 16rem;
  transform: translate(0, -0.85em);
  padding-inline: 0.5rem;
  background: #15162A;
}
.project-card__image-wrapper {
  position: relative;
  width: 100%;
  height: 13.75rem;
  overflow: hidden;
  border-radius: 0.5rem;
  border: 1px solid #52C4C4;
}
.project-card__image {
  width: 100%;
}
.project-card__github-btn {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  border-radius: 50%;
  border: 4px solid #52C4C4;
  background: #fff;
  box-shadow: 4px 2px 6px 0px rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  color: #15162A;
}
.project-card__info > * {
  margin-top: 1.5rem;
}
.project-card__btn-live-site {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
.project-card__live-icon {
  position: absolute;
  top: 50%;
  right: -0.5rem;
  transform: translate(100%, -50%);
}

.contact-box {
  position: relative;
  padding: 0rem 0.5rem 0.5rem 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #52C4C4;
}
.contact-box__title {
  display: block;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 16rem;
  transform: translate(0, -0.8em);
  padding-inline: 0.5rem;
  background: #15162A;
}
.contact-box__input {
  outline: none;
  color: rgba(0, 0, 0, 0.3);
  width: 100%;
  border-radius: 0.3125rem;
  border: 1px solid #52C4C4;
  background: #d9d9d9;
  padding: 0.25rem 1rem;
  word-wrap: break-word;
  word-break: break-all;
}
.contact-box__input:focus {
  color: #15162A;
}
.contact-box__input--pattern:invalid {
  border-color: red;
}
.contact-box__input--pattern:invalid + span {
  display: block;
  margin-top: 6px;
}
.contact-box__input--pattern:invalid + span::after {
  content: "Please check your email";
  font-weight: 400;
  font-size: 0.75rem;
  color: red;
}

.top-navbar__links__item:hover::after {
  animation: 1s steps(1) infinite blink;
}

@keyframes blink {
  0% {
    color: #15162a;
    background: #eaeaea;
  }
  50% {
    color: #eaeaea;
    background: none;
  }
  100% {
    color: #15162a;
    background: #eaeaea;
  }
}/*# sourceMappingURL=style.css.map */